extends layout

block content
  h1 Temperature
  div(id='temperatureChart', width='400', height='100')

  h1 Humidity
  div(id='humidityChart', width='400', height='100')

  h1 Pressure
  div(id='pressureChart', width='400', height='100')
