extends layout

block content
  h1 Sensor measures
  div Days before:&nbsp;
    select(id='days')
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='5') 5
        option(value='10') 10

  div Dots per hour:&nbsp;
    select(id='reduceRatio')
        option(value='1') 6
        option(value='2') 3
        option(value='3') 2
        option(value='6', selected='selected') 1

  div(class='spinner', id='spinner')
    img(src='/images/loading.gif')

  div(id='chart', width='800', height='600')

  div(id='pictureHolder', width='800')
    hr
    label
      input(id='isLoadPictures' type='checkbox')
      | Load pictures
    br
    input(id='pictureSelector' type='range' style='width:100%')
    img(id='picture')
