doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dygraph.min.css')
    script(type='text/javascript', src='/javascripts/libs/dygraph.min.js')
    script(type='text/javascript', src='/javascripts/libs/moment.min.js')
    script(type='text/javascript', src='/javascripts/init.js')
  body
    block content
    div(style='margin-top:10px')
      span See source code and explanations&nbsp;
        a(href='https://github.com/dmitryweiner/sensor-data-saver') here

