doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vis-timeline-graph2d.min.css')
    script(type='text/javascript', src='/javascripts/libs/vis.js')
    script(type='text/javascript', src='/javascripts/init.js')
  body(onLoad='init()')
    block content
